/* Importação da fonte 'Inter' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Configuração inicial do Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset de margens e paddings e configuração de box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração da fonte padrão para o corpo do documento */
body {
  font-family: Inter;
}

/* Utilidades personalizadas do Tailwind CSS */
@layer utilities {
  /* Botões com diferentes estilos */
  .btn_white {
    @apply  border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text  {
    @apply  border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_green  {
    @apply  border-green-50 bg-green-50 px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply  bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline  {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  /* Contêiner com largura máxima e centralizado */
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  /* Contêiner com espaçamento interno responsivo */
  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  /* Alinhamento centralizado */
  .flexCenter {
    @apply flex items-center justify-center;
  }

  /* Alinhamento entre elementos */
  .flexBetween {
    @apply flex items-center justify-between;
  }

  /* Alinhamento no início */
  .flexStart {
    @apply flex items-center justify-start;
  }

  /* Alinhamento no final */
  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* Configurações de fonte para diferentes tamanhos */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  /* ... (repetir para outros tamanhos e pesos) ... */

  /* Configurações específicas para a seção Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  /* Configurações específicas para a seção Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
  }

  /* Configurações específicas para a seção Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex 3xl:left-20;
  }

  /* Configurações específicas para a seção Get App */
  .get-app {
    @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
  }
}

/* Ocultar a barra de rolagem em navegadores específicos */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
}
